<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_NAME} ${AC_SDK_BUILD_NUMBER} v${VAddOn}, Copyright © 2022 by Epic Games.  All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>ArchiCADPlugin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DatasmithARCHICAD$(AC_VERSION)Exporter</string>
	<key>CFBundlePackageType</key>
	<string>.APX</string>
	<key>CFBundleShortVersionString</key>
	<string>Datasmith ARCHICAD $(AC_VERSION) Exporter</string>
	<key>CFBundleSignature</key>
	<string>GSAP</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
